@{
    ViewBag.Title = "JQuery Tutorial";
}
@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    window.jQuery || document.write("<script src='~/Scripts/jquery-1.10.2.js'><\/script>");
</script>
@*<script type="text/javascript">
    $('document').ready(function () {
        if ($('#button1').length > 0) {
            alert('Button1 is found');
        }
        else {
            alert('Button1 is not found');
        }
        $('#button1').click(function () {
            alert('Welcome to JQuery Tutorial!');
        }).css('background-color','bisque');
    });
</script>*@
<script>
    $('document').ready(function () {
        $('tbody tr:even').css('background-color', 'grey');
        $('tbody tr:odd').css('background-color', 'yellow');
        $('[size]').text(function () {
            var size = $(this).attr('size');
            return $(this).text() + size;
        })
    });
</script>

<input type="submit" id="button1" value="Click Me" />

<div>
    <table border="1" style="margin: 60px; width: 60%;">
        <thead>
            <tr>
                <th>Languages</th>
                <th>Develop Date</th>
                <th>Did I like it?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Java</td>
                <td>1995</td>
                <td>YES</td>
            </tr>
            <tr>
                <td>C++</td>
                <td>1985</td>
                <td>I'm Not Sure</td>
            </tr>
            <tr>
                <td>AngularJS</td>
                <td>2012</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Android</td>
                <td>2008</td>
                <td>Yes</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-top: 70px;"></div>
    <hr />
    <div size="75"> Size of the element is </div>
</div>